
.header_section{

    position: relative;
    background: gray;
    height: 30%;
    width: 100%;
}
.logo_P{
    width: 10%;
    height: 25%;

}

.pub_image .container_avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}
.pub_image .container_avatar img{
    width: 100%;
    height: 100%;
}

.container_avatar img .pub_image .container_avatar{
    height: 100%;

}
.pub_image{
    margin-bottom: 25px;
}

.pub_image .container_avatar{
    float: left;
    margin-right: 15px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 40px;

}
.pub_image .data-user a{
    color: black;

}
.image-container{
    max-height:400px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-detail{
    max-height: 500px;
}


.image-container img{
   width: 100%;
   height: 100%;
}

.pub_image .card-body{
    padding: 0px;
 }

 .pub_image .description{
    padding: 20px;
    padding-bottom: 0px;


 }
 .pub_image .btn-comments{
    margin: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;

 }

 .likes{
     float: left;
     padding: 20px;
     padding-bottom: 0px;
     padding-top: 0px;
     padding-right: 5px;
 }

 .likes img{
     width: 20px;
 }
 .pub_image_detail .comments {
     padding: 30px;
 }

.number_likes{
    color: gray;
    font-size: 11px;
}

.profile-user{
    height: 200px;
    margin-bottom:40px;
}

.profile-user .container-avatar{
    width: 200px;
    height: 200px;
    border-radius: 900px;
    overflow: hidden;
    float: left;
}
.profile-user .container-avatar img{
   width: 100%;
   height: 100%;
}

.profile-user .user-info{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.btn-search{
    margin-left: 0px;
    padding-left: 0px;
}

form .avatar{
    /*display: block;*/
    right: 200px;
    top: 5%;
    height: 100px;
    width: 50px;

  left: 30px;
  border: 3px solid ;
}


